<div style="display: flex; justify-content: flex-end;">
    <a class="btn btn-success" style="margin: 30px;" routerLink="add-user">Add User</a>
</div>

<ng-container *ngIf="!(loading$ | async); else loading">
    <ng-container *ngIf="users$ | async as users">
        <ng-container *ngIf="users.length; else error">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                      <th scope="row">{{ user.id }}</th>
                      <td>{{ user.name }}</td>
                      <td>{{ user.surname }}</td>
                      <td>{{ user.age }}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </ng-container>

    <ng-template #error>
        <div *ngIf="(error$ | async) as error">{{ error.statusText }}</div>
    </ng-template>
</ng-container>

<ng-template #loading>
    <div class="d-flex justify-content-center mt-5">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
</ng-template>
